In [9]:
#QUIT 1
answer1  = 2345 % 13
answer2 = 1567 // 17
#FirstName กับ Firstname ไม่เป็นตัวแปรเดียวกัน
#13Friday ไม่เป็นตัวแปรที่ถูกต้อง
print("{} {}".format(answer1, answer2))

5 92

In [18]:
#QUIT 2.1
func_01 = lambda x : x/3
print(func_01(9))

3.0

In [21]:
#QUIT 2.2
def average_01(x1,x2,x3,x4):
    return (x1+x2+x3+x4)/4
print(average_01(4, 5, 6, 7))

5.5

In [10]:
#QUIT 2.3
average_02 = (lambda x1, x2, x3 : (x1+x2+x3) / 3)(4, 5, 6)
print(average_02)

5.0

In [29]:
#QUIT 3
my_data = ['anuwat', 'sukthong', 21]
del my_data[2]
my_data.insert(0,11)
my_data.append(167)
my_data.append(60)
print(my_data[2:])

#show all my_data
my_data

['sukthong', 167, 60]

[11, 'anuwat', 'sukthong', 167, 60]

In [44]:
#QUIT 4.1
a = [[[1,3], [3,4]], [5, [5,6],[7,8]]]
a[1][1][1]

6

In [62]:
#QUIT 4.2
name = [['Anuwat', 'sukthong', [60,20]], ['Anuwat', 'ThongSukt', [64,22]], ['Anu', 'Wat', [62,24]], ['Sukt','Anu', [65,27]]]
del name[3]
name.insert(0, ['Ball', 'Anuwat', [74,24]]);
name[1][2][0] = name[1][2][0] +10 
name

[['Ball', 'Anuwat', [74, 24]],
 ['Anuwat', 'sukthong', [70, 20]],
 ['Anuwat', 'ThongSukt', [64, 22]],
 ['Anu', 'Wat', [62, 24]]]

In [69]:
#QUIT 5.1
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
final_lst1 = map(lambda x: x*x*x, lst)
print(list(final_lst1))

def thirdPower(x) :
    return x*x*x

final_lst2 = map(thirdPower, lst)
print(list(final_lst2))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [85]:
#QUIT 5.2
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
final_lst1 = filter(lambda x : (x%2 != 0), lst)
print(list(final_lst1))

def twoDivied(x) :
    if(x%2 != 0):
        return x
final_lst2 = filter(twoDivied, lst)
print(list(final_lst2))

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

In [87]:
#Quiz 6.1
lst = [1, 2, 3, 4, 5]
lst_1 = [(x*2)-1 for x in lst]
lst_1

[1, 3, 5, 7, 9]

In [91]:
#Quiz 6.2
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
lst_1 = [x*x*x for x in lst if(x%3 != 0)]
lst_1

[1, 8, 64, 125, 343, 512, 1000, 1331, 2197]

In [99]:
#Quiz 7
score = 99
if score > 80:
    print('A')
elif score > 70:
    print('B')
elif score > 60:
    print('C')
elif score > 50:
    print('D')
else :
    print('F')

A

In [101]:
#Quiz 8.1
A = [1, 2, 3, 4, 5]
B = [2, 3, 1, 3, 2]
final_lst = map(lambda a,b : b**a, A, B)
print(list(final_lst))

[2, 9, 1, 81, 32]

In [105]:
#Quiz 8.2
names = ['anuwat', 'Peter', 'Potter']
numbers = [6, 5, 11]
scores = [10, 20, 32]
result = zip(names, numbers, scores)
print(list(result))

[('anuwat', 6, 10), ('Peter', 5, 20), ('Potter', 11, 32)]

In [109]:
#Quiz 9.1
from functools import reduce
lst = [5, 2, 1, 3, 2]
result = reduce(lambda x,y : x**y, lst)
print(result)

244140625

In [110]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = reduce(lambda x,y : x*y, lst)
print(result)

3628800